*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html,body{
      height: 100%;
      width: 100%;
}


:root{
      /* Backgroud Color */
      --bg--primary--color: #0c0c0c;
      --bg--fill--color: #c8cd79;
      --bg--food--color: #cc3d49;

      /* Text Color */
      --text--primary--color: #f0f0f0;

      /* Border color */
      --border--primary--color: #333;
      --border--primary--color--grid: #444444;

      /* Border Radius */
      --border-radius-xs: 4px;
      --border-radius-sm: 8px;
      --border-radius-md: 12px;
      --border-radius-lg: 16px;
      --border-radius-xl: 24px;
      --border-radius-2xl:32px;


      /* Spacing Variables */
      --space--xs: 4px;
      --space--sm: 8px;
      --space--md: 16px;
      --space--lg: 24px;
      --space--xl: 32px;
      --space--2xl: 48px;
      --space--3xl: 64px;
}

html{
      background-color: var(--bg--primary--color);
      color: var(--text--primary--color);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main,section{
      height: 100%;
      width: 100%; 
}

section{
      padding: var(--space--2xl);
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: var(--space--lg);
}

section .infos{
      width: 100%;
      display: flex;
      justify-content: space-between ;
}


.info{
      display:flex;
      align-items: center;
      gap: var(--space--sm);
      padding: var(--space--sm) var(--space--md);
      border: 1px solid var(--border--primary--color);
      border-radius: var(--border-radius-sm);
}

.info span{
      font-size: 1.2rem;
}

.board{
      border: 1px solid var(--border--primary--color);
      flex-grow: 1;   
      /*flex-grow whatever space is left in parent occupy it */
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(20px,1fr));
      grid-template-rows : repeat(auto-fill,minmax(20px,1fr));
}

.block{
      width: 20px;
      height: 20px;
      border: 1px solid var(--border--primary--color--grid);
} 

.fill{
      background-color: var(--bg--fill--color);
      border-radius: 50%;
}

.food{
      background-color: var(--bg--food--color);
}


.modal{
      height: 100vh;
      width:100vw;
      position: fixed;
      top:0;
      background-color: #302e2e69;
      backdrop-filter: blur(4px);
      display: flex;
      justify-content: center;
      align-items: center;
}

.modal #welcome{
      font-size: 2.8rem;
}

.modal .start-game, 
.modal .start-over{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space--lg);
}

.btn{
      padding: var(--space--md) var(--space--xl);
      border: none;
      border-radius: var(--border-radius-md);
      cursor: pointer;
      background-color: rgb(90, 168, 57);
      font-weight: 500;
      font-size: 1rem;
      transition: all 0.3s ease;
}

.btn:hover{
      transform: scale(1.1);
}

.modal .start-over{
      display: none;
}